body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
}

header {
  background: dodgerblue;
  color: #fff;
  padding: 10px 0;
}

header nav ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header nav ul.menu li {
  margin: 0 15px;
}

header nav ul.menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


main {
  padding: 30px;
  text-align: center;
}

footer {
  background: dodgerblue;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}
