canvas#tahvel {
    background-color: lightgrey;
    border: 1px solid black;
}
canvas#lippTahvel
{
    background-color: lightgrey;
    border: 1px solid black;
}


body
{

    font-family: "Script MT Bold", cursive;
}

input
{
    font-family: "Script MT Bold", cursive;
}